/* General Styles */
body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #e6fff3;
    color: #333;
    padding-top: 150px;
}

header {
    background-color: #117351;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    transition: padding 0.5s ease, background-color 0.5s ease, font-size 0.5s ease;
    font-size: 1em;
}

.shrink {
    padding: 7px 0;
    background-color: #0a5137;
    font-size: 0.7em;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


section {
    padding: 50px 0;
}

h2 {
    text-align: center;
    color: #333;
}

a {
    color: #117351;  
    font-weight: bold;  
    text-decoration: none;  
}

a:hover {
    text-decoration: underline;  
}


#main-title a {
    color: white; 
    transition: color 0.7s; 
    text-decoration: none; 
}

#main-title a:hover {
    color: #FFD700; 
}


/* Timeline */

.timeline-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Vertical line */
.timeline-container::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    width: 5px;
    height: calc(100% - 200px);
    background-color: #117351;
    transform: translateX(-50%);
    z-index: -1;
}

.year-section {
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    position: relative;
    width: 45%;
}

#year-2007 {
    opacity: 1;
    transform: translateY(0);
    transition: none; /* Remove any transition effect */
}

.year-section h2 {
    color: #117351;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .year-section {
        width: 100%;
        text-align: center;
        float: none;
        clear: both;
    }

    .timeline-container::before {
        left: 10px;  /* Adjust the line to be closer to the timeline on small screens */
    }
}

/* e */


html {
    scroll-behavior: smooth;
}

/* About Me Section */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me img {
    max-width: 300px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-me-text {
    flex: 1;
    max-width: 700px;
    line-height: 2.5;
}


.about-me-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    line-height: 1.8;
    text-align: left;
}

.about-me-section h2 {
    text-align: center;
    color: #117351;
    margin-bottom: 30px;
}

.about-me-section p {
    font-family: Georgia, serif;
    color: #555;
}

.about-me-section p:first-letter {
    font-size: 1.4em;
    color: #117351;
    font-weight: bold;
}


/* Cards Layout */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card:hover {
    background-color: #333;
    color: #fff;
}

#intro .home {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.8;
}

#intro .home ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
}

#intro .home li {
    margin-bottom: 10px;
}

.contact-info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .about-me img {
        margin-bottom: 20px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}
